{% extends 'base.html.twig' %}

{% block title %}Hello ArbitreController!{% endblock %}

{% block body %}

    <table>
        <tr>
            <pre>
            {% for joueur in t %}

            {% endfor %}
            </pre>
        </tr>
    </table>


{% endblock %}
